## NODE CONFIG
# defaults to "development" (!!! MUST SET TO PRODUCTION IN PROD !!!)
NODE_ENV=

## SERVER CONFIG
# defaults to "5000"
SERVER_PORT=

## MONGODB CONFIG
# defaults to "mongo"
MONGO_USER=
# defaults to "mongo"
MONGO_PASS=
# defaults to "localhost"
MONGO_HOST=
# defaults to "27017"
MONGO_PORT=
# defaults to "tindin"
MONGO_DB=

## JWT CONFIG
# defaults to "unsafe secret" (!!! MUST CHANGE IN PROD !!!)
JWT_SECRET=
# defaults to "1h"
JWT_EXPIRATION=
